<%
const navbarLinks = locals.user ? [
    {
        href: '/',
        text: 'Homepage',
        icon: 'home'
    },
    {
        href: '/users',
        text: 'Users',
        icon: 'group'
    },
    {
        href: '/new-message',
        text: 'New Message',
        icon: 'send'
    },
    {
        href: '/dashboard',
        text: 'Dashboard',
        icon: 'dashboard'
    },
    {
        href: '/logout',
        text: 'Logout',
        icon: 'logout'
    },
] : [
    {
        href: '/',
        text: 'Homepage',
        icon: 'home'
    },
    {
        href: '/register',
        text: 'Register',
        icon: 'group_add'
    },
    {
        href: '/login',
        text: 'Login',
        icon: 'login'
    },
]
%>

<nav class="navbar">
    <% navbarLinks.forEach((link)=> { 
        const isActive = locals.currentPath === link.href ||
        (link.href !== '/' && locals.currentPath.startsWith(link.href));
    %>
            <a class="<%= isActive ? 'active' : null %>" href="<%= link.href %>">
                <span class="material-symbols-sharp">
                    <%= link.icon %>
                </span>
                <p class="description">
                    <%= link.text %>
                </p>
            </a>
    <% }) %>
</nav>
