<form class="delete-user-form" action="/delete-user" method="POST">
    <h2>
        Delete Your Account
    </h2>
    <div class="horizontal-separator"></div>
    <label class="label" for="deleteUserPass">
        Enter your password to confirm the deletion
    </label>
    <div class="input-wrapper">
        <span class="material-symbols-sharp input-icon">account_circle_off</span>
        <input class="input-field" type="password" name="deleteUserPass" id="deleteUserPass" />
    </div>
    <button class="button" type="submit">
        Delete Your Account
    </button>
</form>
