<div class="password">
    <h2>Change Your Password</h2>
    <div class="horizontal-separator"></div>
    <form action='/update-password' method="POST">
        <div class="form-field">
            <label class="label" for="currentPassword">
                Current Password
            </label>
            <div class="input-wrapper">
                <span class="material-symbols-sharp input-icon">
                    key
                </span>
                <input class="input-field" type="text" name="currentPassword" id="currentPassword" />
            </div>
        </div>
        <div class="horizontal-separator"></div>
        <div class="form-field">
            <label class="label" for="newPassword">
                New Password
            </label>
            <div class="input-wrapper">
                <span class="material-symbols-sharp input-icon">
                    key
                </span>
                <input class="input-field" type="password" name="newPassword" id="newPassword" />
            </div>
        </div>
        <div class="horizontal-separator"></div>
        <div class="form-field">
            <label class="label" for="confirmNewPassword">
                Confirm New Password
            </label>
            <div class="input-wrapper">
                <span class="material-symbols-sharp input-icon">
                    key
                </span>
                <input class="input-field" type="password" name="confirmNewPassword" id="confirmNewPassword" />
            </div>
        </div>
        <div class="horizontal-separator"></div>
        <button class="button" type="submit">
            Change Password
        </button>
    </form>
</div>
