<div class="user-messages">
    <h2>All The Messages You Send</h2>
    <div class="horizontal-separator"></div>
    <% if(locals.userMessages) { %>
        <% userMessages.forEach((message) => { %>
            <div class="message">
                <p class="title">
                    <%= message.title %>
                </p>
                <p class="content">
                    <%= message.content %>
                </p>
                <span class="message-date">
                    <%= message.created_at %>
                </span>
                <form class="delete-message-form" action="/dashboard/delete-own-message" method="POST">
                    <input type="hidden" name="messageId" value="<%= message.id %>" />
                    <button class="delete-message-button" type="submit">
                        <span class="material-symbols-sharp">close</span>
                    </button>
                </form>
            </div>
        <% }) %>
    <% } %>
    <% if(locals.userMessages) { %>
        <% if(locals.userMessages.length === 0) { %>
            <div class="no-messages">
                <p>You have not sent any messages. Send your first message <a class="link" href="/new-message">here</a>!</p>
            </div>
        <% } %>
    <% } %>
</div>
