main {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .content {
        width: 100%;
        max-width: 1400px;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        height: 100%;
        align-self: center;
        gap: 5em;

        .mini-horizontal-separator {
            width: 100%;
            min-height: 1px;
            height: 1px;
            background-image: radial-gradient(
                circle at center,
                #ffffff33,
                transparent
            );
        }

        .logo-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            align-items: center;
            position: relative;

            .logo {
                width: 175px;
                height: 175px;
                font-family: var(--font-logo);
                align-self: center;
                background-image: linear-gradient(
                    45deg,
                    var(--color-main),
                    rgba(0, 0, 0, 8),
                    var(--color-main),
                    rgba(0, 0, 0, 8),
                    var(--color-main),
                    rgba(0, 0, 0, 8),
                    var(--color-main),
                    rgba(0, 0, 0, 8)
                );
                background-size: 300%;
                mask-image: url("/images/skull_crown.svg");
                mask-size: 100% 100%;
                background-position: left bottom;
                animation: logoShine 10s ease-in-out infinite alternate-reverse;
            }

            .wb-title {
                font-family: var(--font-logo);
                text-wrap: nowrap;
                font-size: 4rem;
                color: transparent;
                background-image: linear-gradient(
                    45deg,
                    var(--color-main),
                    rgba(0, 0, 0, 8),
                    var(--color-main),
                    rgba(0, 0, 0, 8),
                    var(--color-main),
                    rgba(0, 0, 0, 8),
                    var(--color-main),
                    rgba(0, 0, 0, 8)
                );
                background-clip: text;
                background-size: 300%;
                animation: logoShine 10s ease-in-out infinite alternate-reverse
                    200ms;
            }
        }
        .section {
            font-family: var(--font-secondary);
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 1em;

            .section-title {
                font-size: 2rem;
                text-transform: capitalize;
            }
            .section-content {
                font-family: var(--font-main);
            }
        }
    }
}

@media screen and (max-width: 500px) {
    main {
        padding: 0;
        width: 100%;
    }
}
