body {
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;

    .dashboard {
        padding: 1em;
        font-family: var(--font-main);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1em;

        > * {
            background-color: var(--color-background);
            /*border: 1px solid #ffffff33;*/
            padding: 1em;
            border-radius: 10px;
            box-shadow: 0 0 5px var(--color-background);
        }

        .profile-info {
            grid-column: 1/3;
            grid-row: 1/2;
            display: flex;
            flex-direction: column;
            gap: 1em;
            border: 1px solid #ffffff33;
            padding: 1.5em;
            position: relative;

            .username {
                display: flex;
                flex-direction: column;
                gap: 0.5em;
                justify-content: center;

                .horizontal-separator {
                    width: 100%;
                    height: 1px;
                    background-image: radial-gradient(
                        circle at center,
                        #ffffff33,
                        transparent
                    );
                }

                .fullname {
                    width: 100%;
                    font-weight: 900;
                    font-size: 1.15rem;
                    text-transform: capitalize;
                    display: flex;
                    gap: 1em;
                    padding: 1em 0;
                }

                .form-field {
                    .gender-options {
                        display: flex;
                        gap: 1em;

                        .male {
                            color: var(--color-male);
                        }

                        .female {
                            color: var(--color-female);
                        }
                    }
                }
            }

            button.edit-user-info {
                height: 40px;
                width: 100px;
                background-color: transparent;
                position: absolute;
                top: 50%;
                right: 1em;
                transform: translateY(-50%);
                border: 2px solid var(--color-main);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1em;
                border-radius: 25px;
                color: white;
                padding: 0.5em;
                font-weight: 900;
                transition: all 300ms ease-in-out;

                span:last-of-type {
                    font-weight: 900;
                    font-size: 1.25rem;
                }
            }

            button.edit-user-info:hover,
            button.edit-user-info:focus,
            button.edit-user-info:focus-visible {
                background-color: var(--color-main);
                cursor: pointer;
            }
        }

        .password {
            grid-column: 3/4;
            grid-row: 1/2;
            display: flex;
            flex-direction: column;
            gap: 1em;

            form {
                display: flex;
                flex-direction: column;
                gap: 1em;
            }
        }

        .badges {
            grid-column: 1/2;
            grid-row: 2/3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1em;
        }

        .profile-picture-section {
            grid-column: 2/4;
            grid-row: 2/3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1em;

            .profile-picture {
                display: flex;
                gap: 1em;
                padding: 0.5em;

                .current-profile-picture {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1em;

                    h3 {
                        text-wrap: nowrap;
                        font-size: 1rem;
                    }

                    .ppf-wrapper {
                        width: 125px;
                        height: 125px;
                        background-image: radial-gradient(
                            transparent,
                            var(--color-main)
                        );
                        background-size: 150%;
                        background-position: center;
                        border-radius: 50%;
                        padding: 1em;
                        flex-shrink: 0;
                        box-shadow: var(--box-shadow);

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .profile-pictures-container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 1em;

                    .option {
                        position: relative;
                        width: 60px;
                        height: 60px;
                        background-image: radial-gradient(
                            transparent,
                            var(--color-main)
                        );
                        background-size: 150%;
                        background-position: center;
                        border-radius: 50%;
                        flex-shrink: 0;
                        border: 2px solid transparent;
                        transition: all 300ms ease-in-out;
                        box-shadow: var(--box-shadow);

                        > * {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        label {
                            padding: 0.5em;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            z-index: 5;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        input[type="radio"] {
                            opacity: 0;
                            z-index: 10;
                        }
                        input[type="radio"]:hover {
                            cursor: pointer;
                        }
                    }

                    .option:has(input[type="radio"]:checked) {
                        box-shadow:
                            0px 0px 5px #ffffff inset,
                            0px 0px 7px #ffffff;
                        border: 2px solid #ffffff88;
                        animation: ppf-selection 500ms linear;
                    }

                    .option:not(:has(input[type="radio"]:checked)):hover {
                        transform: scale(1.2);
                    }
                }
            }
        }

        .user-messages {
            grid-column: 1/-1;
            grid-row: 3/4;
        }
    }
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: space-between;
    flex: 1;
}

.label,
.field-title {
    font-weight: 900;
    font-size: 1.15rem;
    text-transform: capitalize;
    text-wrap: nowrap;
}

.input-wrapper {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 0.25em;
    border: 2px solid var(--color-main);
    border-radius: 10px;
    transition: all 300ms ease-in-out;
}

.input-wrapper:has(input[type="text"]:hover),
.input-wrapper:has(input[type="password"]:hover) {
    background-color: var(--color-main-transparent);
    border: 2px solid white;
}
.input-wrapper:has(input[type="text"]:focus),
.input-wrapper:has(input[type="text"]:focus-visible),
.input-wrapper:has(input[type="password"]:focus),
.input-wrapper:has(input[type="password"]:focus-visible) {
    background-color: var(--color-main);
    border: 2px solid white;
}

.input-icon {
    font-weight: 900 !important;
    font-size: 2rem !important;
    padding: 0.1em 0.25em !important;
}

.input-field {
    height: 100%;
    font-weight: 900;
    background-color: transparent;
    border: none;
    color: white;
    padding: 0.5em;
    flex: 1;
}

.gender-option {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 0.5em;
    transition: all 300ms ease-in-out;
    border: 2px solid transparent;

    label {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        text-align: center;
    }

    input[type="radio"] {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}

.gender-option:hover {
    border: 2px solid white;
}

.gender-option > input {
    cursor: pointer;
}

.gender-option:has(input[type="radio"]:checked) {
    border: 2px solid white;
    animation: ppf-selection 500ms linear;

    > * {
        color: white;
    }
}

.gender-option.male:has(input[type="radio"]:checked) {
    background-color: var(--color-male);
}

.gender-option.female:has(input[type="radio"]:checked) {
    background-color: var(--color-female);
}

.button {
    padding: 1em;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid var(--color-main);
    color: white;
    font-weight: 900;
    background-image: linear-gradient(
        90deg,
        transparent,
        transparent,
        transparent,
        transparent,
        var(--color-main),
        var(--color-main),
        var(--color-main),
        var(--color-main)
    );

    background-size: 300%;
    background-position: left bottom;
    transition: all 300ms ease-in-out;
}

.button:hover,
.button:focus,
.button:focus-visible {
    background-position: right top;
    cursor: pointer;
}

.vertical-separator {
    height: 100%;
    min-width: 1px;
    background-image: radial-gradient(circle at center, #ffffff33, transparent);
}

.horizontal-separator {
    min-width: 100%;
    height: 1px;
    background-image: radial-gradient(circle at center, #ffffff33, transparent);
}

.gender-and-bio {
    display: flex;
    gap: 1em;

    .genders {
        flex: initial;
    }
    .bio {
        flex: 1;
    }
}

.message {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
    position: relative;

    .title {
        font-weight: 900;
        text-transform: capitalize;
    }

    .content:first-letter {
        text-transform: capitalize;
    }

    .delete-message-button {
        position: absolute;
        top: 1em;
        right: 1em;
    }
}

.badges-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

.badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    span {
        font-size: 6rem;
    }
    p {
        font-weight: 900;
    }
}

.delete-user-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1;
}

.forms-container {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

@keyframes ppf-selection {
    0% {
        transform: translateY(0) scale(1, 1);
    }
    25% {
        transform: translateY(-10px) scale(1, 1);
    }
    35% {
        transform: translateY(0) scale(1, 1);
    }
    50% {
        transform: translateY(0) scale(1.2, 0.9);
    }
    65% {
        transform: translateY(0) scale(0.95, 1.1);
    }
    75% {
        transform: translateY(0) scale(1.1, 0.95);
    }
    100% {
        transform: translateY(0) scale(1, 1);
    }
}
