.mobile-header {
    display: none;
}
.wb-header {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: relative;
    justify-content: center;
    border-bottom: 1px solid #ffffff33;
    padding: 1em;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.5);

    .logo {
        position: absolute;
        top: 50%;
        left: 1em;
        transform: translateY(-50%);
        width: 75px;
        font-family: var(--font-logo);
        align-self: center;
        background-image: linear-gradient(
            45deg,
            var(--color-main),
            rgba(0, 0, 0, 8),
            var(--color-main),
            rgba(0, 0, 0, 8),
            var(--color-main),
            rgba(0, 0, 0, 8),
            var(--color-main),
            rgba(0, 0, 0, 8)
        );
        background-size: 300%;
        mask-image: url("/images/skull_crown.svg");
        mask-size: 100% 100%;
        background-position: left bottom;
        animation: logoShine 10s ease-in-out infinite alternate-reverse;

        img {
            width: 50%;
            opacity: 0;
        }
    }

    h1 {
        font-family: var(--font-secondary);
        font-size: 2rem;
    }

    .logged-user {
        position: absolute;
        top: 50%;
        right: 1em;
        transform: translateY(-50%);
        font-family: var(--font-main);
        font-weight: 900;
        display: flex;
        gap: 1em;
        align-items: center;
        border-radius: 10px;

        .logged-ppf {
            width: 50px;
            height: 50px;
            padding: 0.5em;
            background-image: radial-gradient(
                circle at center,
                transparent,
                var(--color-main)
            );
            border-radius: 50%;
            box-shadow: 0px 0px 7px 3px var(--color-main);

            img {
                width: 100%;
                height: 100%;
            }
        }

        .account-icon {
            font-weight: 900;
            font-size: 3rem !important;
            border-radius: 5px;
            position: relative;
        }

        .account-icon::before {
            width: 100%;
            height: 100%;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--color-background);
            border-radius: 10px;
            z-index: -1;
        }
    }
}

@media screen and (max-width: 500px) {
    .wb-header {
        display: none !important;
    }

    .mobile-header {
        background-color: black;
        border-bottom: 1px solid #ffffff33;
        display: flex !important;
        flex-direction: row-reverse;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        z-index: 10;
        padding: 0.5em;
        font-family: var(--font-main);
        border-top: 1px solid #ffffff33;

        .show-navbar-button {
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                background-color: transparent;
                border: none;

                span {
                    color: white;
                    font-weight: 900;
                    font-size: 2.5rem;
                }
            }
        }

        .logo,
        .logged-user {
            display: none;
        }

        h1 {
            font-size: 1.5rem;
            flex: 1;
            text-align: center;
        }
    }
}

@media screen and (max-width: 1100px) {
    .wb-header {
        .logo,
        .logged-user {
            display: none;
        }
    }
}
