main {
    padding-left: 5em;
    padding-right: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-family: var(--font-main);
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    margin: auto 0;
    width: 90%;
    max-width: 1900px;
    align-self: center;
    display: flex;
    align-items: flex-start;
    position: relative;
    border-radius: 10px;
    position: relative;
    background-color: black;
    border-radius: 10px;
    padding: 1em;
    background-image: radial-gradient(
            circle at 100% 0%,
            transparent 0,
            #19212e 40%
        ),
        url("/images/login-background.jpg");
    background-size: cover;
}

.form-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;
    text-align: center;
    padding: 3em;
    opacity: 0;
    animation: appearForm 1s ease-in-out forwards;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.welcome {
    text-align: center;
    font-size: 3rem;
    span {
        color: var(--color-main);
    }
}

.login-message,
.register-message {
    font-weight: 900;
    font-size: 0.75rem;
    opacity: 0.75;
}

.register-message > a {
    color: var(--color-accent);
}

.logo {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.form-logo {
    align-self: center;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(
        45deg,
        var(--color-main),
        rgba(0, 0, 0, 8),
        var(--color-main),
        rgba(0, 0, 0, 8),
        var(--color-main),
        rgba(0, 0, 0, 8),
        var(--color-main),
        rgba(0, 0, 0, 8)
    );
    background-size: 300%;
    mask-image: url("/images/skull_crown.svg");
    mask-size: 100% 100%;
    background-position: left bottom;
    animation: logoShine 10s ease-in-out infinite alternate-reverse;

    .empty {
        width: 50%;
        opacity: 0;
    }
}

.text {
    font-family: var(--font-logo);
    z-index: 30;
    text-wrap: nowrap;
    font-size: 4rem;
    color: transparent;
    background-image: linear-gradient(
        45deg,
        var(--color-main),
        rgba(0, 0, 0, 8),
        var(--color-main),
        rgba(0, 0, 0, 8),
        var(--color-main),
        rgba(0, 0, 0, 8),
        var(--color-main),
        rgba(0, 0, 0, 8)
    );
    background-clip: text;
    background-size: 300%;
    animation: logoShine 10s ease-in-out infinite alternate-reverse 200ms;
}

.text-container {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1600px) {
    main {
        .content {
            background-image: linear-gradient(45deg, transparent, #00000055),
                radial-gradient(circle at 100% 0%, transparent 0, #19212e 40%),
                url(/images/login-background.jpg);
            justify-content: center;
            .form-container {
                width: 75%;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    main {
        .content {
            .form-container {
                width: 100%;
                padding: 1em;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    main {
        padding: 1em;
        width: 100%;
        padding-bottom: 5em;

        .content {
            width: 100%;
            height: 100%;
            padding: 0;
            background-image: linear-gradient(
                    0deg,
                    #19212eee,
                    #19212eee,
                    #19212eee
                ),
                url("/images/login-background.jpg");

            .form-container {
                width: 100%;
                padding: 1em;
                justify-content: center;
                .text-container {
                    .welcome {
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }
}
