body,
html {
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
}

.messages-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;

    .not-logged-message {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2em;
        background-color: var(--color-background);

        p {
            font-weight: 900;
            font-family: var(--font-main);
        }
    }

    .message {
        display: flex;
        flex-direction: column;
        font-family: var(--font-main);
        padding: 1em;
        border-radius: 5px;
        background-color: var(--color-background);
        gap: 0.5em;
        position: relative;
        opacity: 0;
        animation: appearMessage 300ms ease-in-out forwards;

        .header {
            flex: 1;
            padding: 0.5em;
            display: flex;
            align-items: center;
            gap: 1em;

            .profile-picture {
                display: flex;
                align-content: center;
                background-image: radial-gradient(
                    circle at center,
                    transparent,
                    var(--color-main)
                );
                width: 75px;
                height: 75px;
                border-radius: 50%;
                padding: 0.75em;
                background-color: black;
                box-shadow: 0px 0px 5px 3px var(--color-main);

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .user-info {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                text-transform: capitalize;

                .full-name {
                    font-size: 1.5rem;
                    font-weight: 900;
                    display: flex;
                    align-items: center;
                    gap: 1em;

                    .badges {
                        display: flex;
                        gap: 0.25em;

                        span {
                            font-size: 2rem;
                        }
                    }
                }

                .username-and-gender {
                    display: flex;
                    text-transform: initial;
                    align-items: center;

                    .username {
                        padding: 0.5em 0.5em 0.5em 0;
                        border-radius: 5px;
                        opacity: 0.5;
                    }

                    span {
                        font-size: 2rem;
                        color: white;
                    }

                    span.male {
                        color: var(--color-male);
                    }
                    span.female {
                        color: var(--color-female);
                    }
                }
            }
        }
        .separator {
            width: 100%;
            height: 1px;
            background-color: #ffffff55;
            opacity: 0.3;
        }
        .message-content {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding: 0.5em;

            .title {
                text-align: start;
                font-weight: 900;
                text-transform: capitalize;
                padding: 0.5em 1em;
                border-radius: 5px;
                background-color: var(--color-main);
                width: fit-content;
            }

            .body {
                border-radius: 5px;
                padding: 1em;
                border: 1px solid var(--color-main);
            }

            .body:first-letter {
                text-transform: capitalize;
            }
        }

        .message-date {
            opacity: 0.4;
            padding: 0.5em;
        }

        .delete-form {
            position: absolute;
            top: 1em;
            right: 1em;
            transition: all 300ms ease-in-out;
            opacity: 0.5;

            .delete-button {
                width: 50px;
                height: 50px;
                background-color: transparent;
                border: 2px solid var(--color-main);
                border-radius: 75px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5em;
                cursor: pointer;
                color: white;
                font-weight: 900;
                padding: 0.5em;

                span {
                    color: white;
                    font-weight: 900;
                    font-size: 2.25rem;
                }
            }

            .delete-button:hover {
                background-color: var(--color-main);
            }
        }

        .delete-form:hover {
            transform: scale(1.2);
            opacity: 1;
        }
    }
}

@keyframes appearMessage {
    0% {
        transform: scale(1.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
