body,
main {
    background: transparent;
}

main {
    padding-left: 5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-container {
    height: 100%;
    width: 100%;
    max-width: 1400px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    width: 400px;
    height: 750px;
    border-radius: 15px;
    padding: 2em;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    box-shadow:
        0px 0px 50px 1px rgba(0, 0, 0, 0.75),
        0px 0px 30px 5px rgba(255, 255, 255, 0.25) inset;
    animation: appearMessageForm 1s ease-in-out forwards 2s;
    opacity: 0;
    font-family: var(--font-main);

    img {
        align-self: center;
        width: 50%;
    }

    .sub-title {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            font-size: 2.5rem;
        }
    }
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-field {
    flex: initial !important;
}

.input-icon {
    transform: scaleX(-1);
}

.input-wrapper,
.button {
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
}

#form-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
}

#top_blob,
#bottom_blob {
    transform-box: fill-box;
    opacity: 0;
    transform-origin: center;
}

#top_blob {
    animation: appearTopBlob 2s linear forwards 2s;
}

#bottom_blob {
    animation: appearBottomBlob 2s linear forwards 2s;
}

@keyframes appearMessageForm {
    0% {
        transform: scale(1.25);
    }
    60% {
        transform: scale(0.95);
    }
    80% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes appearBottomBlob {
    0% {
        transform: translate(-100%, 100%);
    }
    100% {
        transform: translate(-25%, 25%);
        opacity: 1;
    }
}

@keyframes appearTopBlob {
    0% {
        transform: translate(100%, -100%);
    }
    100% {
        transform: translate(25%, -25%);
        opacity: 1;
    }
}

#layered-waves {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
}

#first_wave,
#second_wave,
#third_wave,
#fourth_wave,
#fifth_wave,
#sixth_wave {
    opacity: 0;
    transform: translateY(100%);
    animation: appearWave 1550ms ease-out forwards;
}

@keyframes appearWave {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    60% {
        transform: translateY(-5%);
    }
    80% {
        transform: translateY(2%);
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
