main {
    padding-left: 5em;
    padding-right: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.form-container {
    width: 90%;
    max-width: 1900px;
    font-family: var(--font-secondary);
    display: flex;
    background-image: radial-gradient(
            circle at 100% 0%,
            transparent 0,
            #19212e 40%
        ),
        url("/images/login-background.jpg");
    background-size: cover;
    border-radius: 10px;
}

.register-form {
    width: 50%;
    padding: 2em;
    font-family: var(--font-main);
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    animation: appearForm 1s ease-in-out forwards;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2.5rem;
    text-align: center;

    span {
        color: var(--color-main);
    }
}

.sub-title {
    font-size: 0.75rem;
    opacity: 0.5;
    font-weight: 900;
}

.three-fields-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    > .form-field {
        flex: 1;
    }
}

.password-fields {
    width: 100%;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;

    > * {
        flex: 1;
    }
}

.pass-visibility-button {
    background-color: transparent;
    border: none;
}

.gender-and-bio {
    width: 100%;
    display: flex;
    gap: 1em;
}

.gender {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.bio {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
}

.gender-wrapper {
    display: flex;
    gap: 1em;
}

.profile-picture-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.profile-picture {
    display: flex;
    gap: 1em;
    padding: 0.5em;
}

.profile-pictures-container {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    align-items: center;
    gap: 1em;
}

@media screen and (max-width: 1100px) {
}

@media screen and (max-width: 500px) {
    main {
        width: 100%;
        padding: 1em;
        padding-bottom: 4em;

        .wrapper {
            .form-container {
                width: 100%;

                background-image: linear-gradient(
                        0deg,
                        #19212eee,
                        #19212eee,
                        #19212eee
                    ),
                    url("/images/login-background.jpg");
                .register-form {
                    width: 100%;
                    padding: 1em;

                    .gender-and-bio {
                        flex-direction: column;

                        .bio {
                            gap: 0.5em;
                        }
                    }
                    .profile-picture-section {
                        .profile-pictures-container {
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}
