*,
*::before,
*::after {
    /*border: 1px solid red;*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    overflow: auto;
    color: #ffffff;
}

body {
    display: flex;
}

main {
    flex: 1;
}

a {
    color: white;
}
