@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tangerine:wght@400;700&display=swap");

:root {
    --color-main: #663399;
    --color-main-transparent: #66339955;
    --color-accent: #6f58c9;
    --color-transparent-border: #ffffff33;
    --color-male: #0077b6;
    --color-female: #a53860;
    /*--color-background: #1e1b18;*/
    --color-background: #1d0142;
    --color-red: #c1121f;
    --color-red-transparent: #c1121f55;
    --font-main: "Roboto", serif;
    --font-secondary: "Poiret One", serif;
    --font-logo: "Tangerine", cursive;
    --box-shadow: rgba(102, 51, 153, 0.4) 0px 3px 6px,
        rgba(102, 51, 153, 0.47) 0px 3px 6px;
}
