<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1>
        Homepage
    </h1>
        <% if(locals.user) { %>
            <p>
                Hello <%= user.first_name %> <%= user.last_name %> welcome back!
            </p>
        <% } else { %>
            <p>
                Please register and login to see the content of this page.
            </p>
        <% } %>
</body>
</html>
