<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/variables.css">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20,100,0..1,-50" />
        <title>Login</title>
    </head>
    <body>
        <%- include('../partials/navbar.ejs', {currentPath}) %>
        <h1>
            Login page
        </h1>
        <%- include('../partials/login-form.ejs') %>
        <% if(locals.validationErrors) { %>
            <div class="validation-errors">
                <% validationErrors.forEach((error)=>{ %>
                    <p>
                        <%= error.msg %>
                    </p>
                <% }) %>
            </div>
        <% } %>
    </body>
</html>
