<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/register.css">
        <link rel="stylesheet" href="/css/variables.css">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/classes.css">
        <link rel="stylesheet" href="/css/animations.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20,100,0..1,-50" />
        <script defer src="/js/utilities/ppf-sound-effect.js"></script>
        <script defer src="/js/utilities/togglePassVisibility.js"></script>
        <script defer src="/js/utilities/noTranslateGoogleIcons.js"></script>
        <script defer src="/js/utilities/toggleMobileNavbar.js"></script>
        <title>Register page | Members Only 🔒</title>
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="/favicons/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="/favicons/favicon-128.png" sizes="128x128" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png" />
        <meta name="msapplication-square70x70logo" content="/favicons/mstile-70x70.png" />
        <meta name="msapplication-square150x150logo" content="/favicons/mstile-150x150.png" />
        <meta name="msapplication-wide310x150logo" content="/favicons/mstile-310x150.png" />
        <meta name="msapplication-square310x310logo" content="/favicons/mstile-310x310.png" />
    </head>
    <body>
        <%- include('../partials/navbar.ejs', {currentPath}) %>
        <main>
            <%- include('../partials/header.ejs', {pageTitle: "Register"})  %>
            <% if(locals.validationErrors) { %>
                <div class="errors">
                    <p class="title">
                        The following input fields have problems, please correct them.
                    </p>
                    <ul>
                        <% validationErrors.forEach((error)=> { %>
                            <li>
                                <%= error.msg %>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>
            <div class="wrapper">
                <div class="form-container">
                    <%- include('../partials/register-form.ejs', {profilePictures}) %>
                </div>
            </div>
        </main>
    </body>
</html>
